
USE [WindMonitor]
GO
/****** Object:  Table [dbo].[Error]    Script Date: 2/15/2016 12:37:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[StackTrace] [nvarchar](max) NULL,
	[DateCreated] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Error] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WindSpeed]    Script Date: 2/15/2016 12:37:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WindSpeed](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[State] [nvarchar](500) NULL,
	[City] [nvarchar](500) NULL,
	[StationCode] [nvarchar](500) NULL,
	[Date] [datetime] NULL,
	[PredictedSpeed] [int] NULL,
	[ActualSpeed] [int] NULL,
	[Variance] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[WindStations]    Script Date: 2/15/2016 12:37:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WindStations](
	[StationID] [nvarchar](max) NULL,
	[StateName] [nvarchar](max) NULL,
	[CityName] [nvarchar](max) NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PredictedSpeed] [int] NULL,
 CONSTRAINT [PK_WindStations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[WindSpeed] ON 

INSERT [dbo].[WindSpeed] ([ID], [State], [City], [StationCode], [Date], [PredictedSpeed], [ActualSpeed], [Variance]) VALUES (1, N'Karnataka', N'Bengaluru', N'KA-BE-03', CAST(N'2016-02-14 23:40:11.000' AS DateTime), 12, 6, -6)
SET IDENTITY_INSERT [dbo].[WindSpeed] OFF
SET IDENTITY_INSERT [dbo].[WindStations] ON 

INSERT [dbo].[WindStations] ([StationID], [StateName], [CityName], [ID], [PredictedSpeed]) VALUES (N'MH-MU-01', N'Maharashtra', N'Mumbai', 1, 12)
INSERT [dbo].[WindStations] ([StationID], [StateName], [CityName], [ID], [PredictedSpeed]) VALUES (N'DL-DE-02', N'Delhi', N'Delhi', 2, 12)
INSERT [dbo].[WindStations] ([StationID], [StateName], [CityName], [ID], [PredictedSpeed]) VALUES (N'KA-BE-03', N'Karnataka', N'Bengaluru', 3, 12)
GO
SET IDENTITY_INSERT [dbo].[WindStations] OFF
USE [master]
GO
